body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') NetFlow Viewer
      ul.nav.navbar-nav
        li
          a(href='/map') Map View
        li
          a(href='/scatterplot') Scatterplot View
  .container
    main(data-hook="page-container")
