body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') NetFlow Viewer
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li.dropdown
          a(href="/list" data-toggle="dropdown").dropdown-toggle List View
          ul.dropdown-menu(role='menu')
            li
              a(href='/list') List1
            li
              a(href='/list') List2
        li
          a(href='/map') Map View
  .container
    main(data-hook="page-container")
